# =========================================
# Containers
# =========================================
containers*
*_container_done
*sbatch.sh

# =========================================
# LLM Training
# =========================================
llm_training/**/llm_benchmark_*_run/
llm_training/**/output/
llm_training/**/result/*.png
llm_training/**/llm_data/*.npy
llm_training/**/index-cache
llm_training/**/Megatron-LM*/
llm_training/**/*_patch_applied
llm_training/**/*_build_done
llm_training/**/ipu_gc200_cache

# =========================================
# Image Classification
# =========================================
image_classification/**/tf_image_classification*
image_classification/**/ipu_gc200_cache
image_classification/**/image_classification_benchmark_run
image_classification/**/result/*.{png,svg}
image_classification/*installed

# =========================================
# Operator Benchmark
# =========================================
operator_benchmark/**/fno_benchmark_*
operator_benchmark/**/*installed
operator_benchmark/**/*done
operator_benchmark/**/*_packages*
operator_benchmark/**/*_wrap.sh
operator_benchmark/operator_learning
operator_benchmark/fno_data

# =========================================
# Packages & Wrap Scripts
# =========================================
*_torch_packages*
*_torch_packages_installed
*_torch_wrap.sh
image_classification/**/*_tensorflow_packages*
image_classification/**/*_torch_packages*
image_classification/**/*_tensorflow_wrap.sh

# =========================================
# Cache / Miscellaneous
# =========================================
miopen_cache
*.csv
*.poplar_exec

