absl-py==2.1.0
astunparse==1.6.3
cachetools==5.4.0 
flatbuffers==23.5.26
gast==0.4.0
google-auth==2.16.0
keras-preprocessing==1.1.2
numpy==1.26.4 
opt-einsum==3.3.0
pandas==2.2.1 
protobuf==3.19.6
pyasn1==0.6.0
pyasn1-modules==0.4.0 
python-dateutil==2.9.0.post0 
pytz==2024.1 
rsa==4.9 
six==1.16.0
termcolor==2.2.0
tzdata==2024.1
wrapt==1.14.1
wheel==0.43.0
jpwr @ git+https://github.com/FZJ-JSC/jpwr
