accelerate
calflops
configmypy
coverage
cufinufft
finufft
h5py
hf-xet
huggingface-hub
imageio
jpwr[pynvml]@git+https://github.com/FZJ-JSC/jpwr
matplotlib
mpi4py
mpmath
numpy
opt_einsum
pandas
py-cpuinfo
pytest-benchmark
pyvista
PyYAML
pytorch-finufft
python-slugify
qmat
ruamel.yaml
safetensors
scipy
tensorboard
torchkbnufft
tokenizers
torch-tb-profiler
torch_flops
torchprofile
tqdm
transformers
